@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<h2>About</h2>
<p>Громадяни особисто звертаються в соціальну службу (Центр надання адміністративних послуг, Пенсійний фонд, 
    Водоканал тощо) по питаннях, які врішуються різними спеціалістами. Громадянин оформлює заявку, 
    вказуючи проблематику питання, і тим самим визначає спеціаліста. Заявка ставиться в чергу до нього. 
    Вона ідентифікується порядковим номером у межах дня. На табло висвітлюються чергові запрошення громадян до 
    відповідних спеціалістів. Коли спеціаліст закінчив роботу з громадянином, він сповіщає про це систему. 
    Хоча електронна черга і не містить особистих даних громадян, у ній мають бути всі звернення за весь час функціонування.
</p>
