@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome!</h1>
    <p>Please, select one of the next tables to interact:</p>
    <ul style="list-style-type: none;">
        <li>
            <a asp-area="" asp-controller="Citizen" asp-action="Index">Citizens</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Request" asp-action="Index">Requests</a>
        </li>
        <li>
            <a asp-area="" asp-controller="SocialService" asp-action="Index">Services</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Specialist" asp-action="Index">Specialists</a>
        </li>
    </ul>
</div>